Package: post-temperature
Version: 1.0-1
Section: utils
Priority: optional
Architecture: all
Maintainer: Bryan Honof <bryan.honof@pxl.be>
Description: Post temperature utility
Depends: bc (>= 1.07.1)
